# Environment files
.env

# Node.js
node_modules/

# TypeScript
dist/
*.tsbuildinfo
*.d.ts
tsconfig.tsbuildinfo

# IDE and editor related
dist/
*.tsbuildinfo
*.d.ts
*.suo
*.swp
*.tmp
*.bak