# Node.js
node_modules/


# TypeScript
dist/
*.tsbuildinfo
*.d.ts
tsconfig.tsbuildinfo

# IDE and editor related
.idea/
.vscode/
*.suo
*.swp
*.tmp
*.bak

# Environment files
.exemple.env
.env
